@font-face {
    font-family: "Circular";
    src: url("860c3ec7bbc5da3e97233ccecafe512e.eot"); /* IE9*/
    src: url("860c3ec7bbc5da3e97233ccecafe512e.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("860c3ec7bbc5da3e97233ccecafe512e.woff2") format("woff2"), /* chrome、firefox */
    url("860c3ec7bbc5da3e97233ccecafe512e.woff") format("woff"), /* chrome、firefox */
    url("860c3ec7bbc5da3e97233ccecafe512e.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("860c3ec7bbc5da3e97233ccecafe512e.svg#Circular Std Book") format("svg"); /* iOS 4.1- */
}